{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Ventas</h2>
        <!-- Aqui codigo tarjeta -->

            <div class="card">
                <div class="card-body">
                <form action="/editarVentas/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group">
                    <input type="text" id="txtidventa" name="txtidventa" minlength="1" maxlength="6" value="{{misventas.id_venta}}" class="form-control" readonly required>
                    </div>
                    <div class="form-group py-3">
                    <input type="text" id="txtnombreventa" name="txtnombreventa" value="{{misventas.nombre_venta}}" maxlength="45" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                    <input type="date" id="txtfecha" name="txtfecha" maxlength="100" value="{{misventas.fecha}}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txthora" name="txthora" maxlength="45" value="{{misventas.hora}}" class="form-control" required>
                        </div>
                        <div class="form-group py-3">
                        <input type="text" id="txtidproducto" name="txtidproducto" value="{{misventas.id_producto}}" maxlength="15" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtidcliente" name="txtidcliente" maxlength="45" value="{{misventas.id_cliente}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtidtrabajador" name="txtidtrabajador" maxlength="45" value="{{misventas.id_trabajador}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtcantidad" name="txtcantidad" maxlength="45" value="{{misventas.cantidad}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtregistro" name="txtregistro" maxlength="45" value="{{misventas.registro}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtlugar" name="txtlugar" maxlength="45" value="{{misventas.lugar}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Ventas</button>
                        </div>

                </form>
                </div>
            </div> <!-- Tarjeta -->


        <!-- Aqui codigo tarjeta -->

    
    </div> 

</div> <!-- Fila en editar-->


{% endblock %}