{% extends "base.html" %}

{% block cuerpo %} 
  {% load static %}

 <div class="row"> <!-- La fila -->

   <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna izquierda -->
    <h1>Ventas</h1>
    <div class="card">
      <div class="card-body">
        <form action="registrarVentas/" method="POST"> {% csrf_token %} <!-- Falta action -->
          <div class="form-group">
            <input type="text" id="txtidventa" name="txtidventa" placeholder="Id Venta" minlength="1" maxlength="6" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombreventa" name="txtnombreventa" placeholder="Nombre Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="date" id="txtfecha" name="txtfecha" placeholder="Fecha Venta" maxlength="100" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" id="txthora" name="txthora" placeholder="Hora Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtidproducto" name="txtidproducto" placeholder="Id Producto Venta" maxlength="15" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtidcliente" name="txtidcliente" placeholder="Id Cliente Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtidtrabajador" name="txtidtrabajador" placeholder="Id Trabajador Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtcantidad" name="txtcantidad" placeholder="Cantidad Venta" maxlength="15" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtregistro" name="txtregistro" placeholder="Registro Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtlugar" name="txtlugar" placeholder="Lugar Venta" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Venta</button>
          </div>

        </form>
      </div>
    </div> <!-- Tarjeta -->
   </div> <!-- Columna izquierda -->

   <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
   <h1>Listado de Ventas</h1>
   <img class="w-50" src="{% static 'img/ventasImage.jpg' %}" alt="hoa" width="100" height="auto">
    <br>
    <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id_Venta</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Id Producto</th>
        <th scope="col">Id Cliente</th>
        <th scope="col">Id Trabajador</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Registro</th>
        <th scope="col">Lugar</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      
      {% for m in misventas %}
      
      <tr>
        <td> {{forloop.counter}} </td>
        <td> {{m.id_venta}} </td>
        <td> {{m.nombre_venta}} </td>
        <td> {{m.fecha}} </td>
        <td> {{m.hora}} </td>
        <td> {{m.id_producto}} </td>
        <td> {{m.id_cliente}} </td>
        <td> {{m.id_trabajador}} </td>
        <td> {{m.cantidad}} </td>
        <td> {{m.registro}} </td>
        <td> {{m.lugar}} </td>
        <td> <a href="seleccionarVenta/{{m.id_venta}}" class="btn btn-info"> Editar</a> </td> <!-- Falta -->
        <td> <a href="borrarVenta/{{m.id_venta}}" class="btn btn-danger"> Borrar</a> </td> <!-- Falta -->
      </tr>
      
      
      
      {% endfor %}
      
    </tbody>
  </table>

 </div> <!-- Columna derecha -->

 

{% endblock %}