{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Clientes</h2>
        <!-- Aqui codigo tarjeta -->

            <div class="card">
                <div class="card-body">
                <form action="/editarCliente/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group">
                    <input type="text" id="txtidcliente" name="txtidcliente" minlength="1" maxlength="6" value="{{misclientes.id_cliente}}" class="form-control" readonly required>
                    </div>
                    <div class="form-group py-3">
                    <input type="text" id="txtnombrecliente" name="txtnombrecliente" value="{{misclientes.nombre_cliente}}" maxlength="45" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                    <input type="text" id="txtapellidop" name="txtapellidop" maxlength="100" value="{{misclientes.apellido_P}}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtapellidom" name="txtapellidom" maxlength="45" value="{{misclientes.apellido_M}}" class="form-control" required>
                        </div>
                        <div class="form-group py-3">
                        <input type="date" id="txtfecha" name="txtfecha" value="{{misclientes.fecha_de_nacimiento}}" maxlength="15" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtemail" name="txtemail" maxlength="45" value="{{misclientes.email}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtcelular" name="txtcelular" maxlength="45" value="{{misclientes.celular}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtgenero" name="txtgenero" maxlength="45" value="{{misclientes.genero}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Clientes</button>
                        </div>
                </form>
                </div>
            </div> <!-- Tarjeta -->


        <!-- Aqui codigo tarjeta -->

    
    </div> 

</div> <!-- Fila en editar-->


{% endblock %}