{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Pedidos</h2>
        <!-- Aqui codigo tarjeta -->

            <div class="card">
                <div class="card-body">
                <form action="/editarPedidos/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group">
                    <input type="text" id="txtidpedido" name="txtidpedido" minlength="1" maxlength="6" value="{{mispedidos.id_pedido}}" class="form-control" readonly required>
                    </div>
                    <div class="form-group py-3">
                    <input type="text" id="txtnombrepedido" name="txtnombrepedido" value="{{mispedidos.nombre_pedido}}" maxlength="45" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                    <input type="date" id="txtfecha" name="txtfecha" maxlength="100" value="{{mispedidos.fecha}}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txthora" name="txthora" maxlength="45" value="{{mispedidos.hora}}" class="form-control" required>
                        </div>
                        <div class="form-group py-3">
                        <input type="text" id="txtidproducto" name="txtidproducto" value="{{mispedidos.id_producto}}" maxlength="15" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtidcliente" name="txtidcliente" maxlength="45" value="{{mispedidos.id_cliente}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtidtrabajador" name="txtidtrabajador" maxlength="45" value="{{mispedidos.id_trabajador}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtcantidad" name="txtcantidad" maxlength="45" value="{{mispedidos.cantidad}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtregistro" name="txtregistro" maxlength="45" value="{{mispedidos.registro}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Pedidos</button>
                        </div>

                </form>
                </div>
            </div> <!-- Tarjeta -->


        <!-- Aqui codigo tarjeta -->

    
    </div> 

</div> <!-- Fila en editar-->


{% endblock %}