{% extends "base.html" %}

{% block cuerpo %} 
  {% load static %} 

 <div class="row"> <!-- La fila -->

   <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna izquierda -->
    <h1>Proveedor</h1>
    <div class="card">
      <div class="card-body">
        <form action="registrarProveedor/" method="POST"> {% csrf_token %} <!-- Falta action -->
          <div class="form-group">
            <input type="text" id="txtidproveedor" name="txtidproveedor" placeholder="Id Proveedor" minlength="1" maxlength="6" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombreempresa" name="txtnombreempresa" placeholder="Nombre Empresa" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txthorarios" name="txthorarios" placeholder="Horarios Proveedor" maxlength="100" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtemail" name="txtemail" placeholder="Email Proveedor" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtcelular" name="txtcelular" placeholder="Celular Proveedor" maxlength="15" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txttipo" name="txttipo" placeholder="Tipo Proveedor" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtdireccion" name="txtdireccion" placeholder="Direccion Proveedor" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtcodigopostal" name="txtcodigopostal" placeholder="Codigo Postal Proveedor" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Proveedor</button>
          </div>

        </form>
      </div>
    </div> <!-- Tarjeta -->
   </div> <!-- Columna izquierda -->

   <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
   <h1>Listado de Proveedores</h1>
   <img class="w-50" src="{% static 'img/proveedoresImage.png' %}" alt="hoa" width="100" height="auto">
    <br>
    <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id_Proveedor</th>
        <th scope="col">Nombre</th>
        <th scope="col">Horarios</th>
        <th scope="col">Email</th>
        <th scope="col">Celular</th>
        <th scope="col">Tipo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Codigo Postal</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      
      {% for m in misproveedores %}
      
      <tr>
        <td> {{forloop.counter}} </td>
        <td> {{m.id_proveedor}} </td>
        <td> {{m.nombre_empresa}} </td>
        <td> {{m.horarios}} </td>
        <td> {{m.email}} </td>
        <td> {{m.celular}} </td>
        <td> {{m.tipo}} </td>
        <td> {{m.direccion}} </td>
        <td> {{m.codigo_postal}} </td>
        <td> <a href="seleccionarProveedor/{{m.id_proveedor}}" class="btn btn-info"> Editar</a> </td> <!-- Falta -->
        <td> <a href="borrarProveedor/{{m.id_proveedor}}" class="btn btn-danger"> Borrar</a> </td> <!-- Falta -->
      </tr>
      
      
      
      {% endfor %}
      
    </tbody>
  </table>

 </div> <!-- Columna derecha -->

 

{% endblock %}