{% extends "base.html" %}

{% block cuerpo %} 
  {% load static %}

 <div class="row"> <!-- La fila -->

   <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna izquierda -->
    <h1>Ingredientes</h1>
    <div class="card">
      <div class="card-body">
        <form action="registrarIngredientes/" method="POST"> {% csrf_token %} <!-- Falta action -->
          <div class="form-group">
            <input type="text" id="txtidingrediente" name="txtidingrediente" placeholder="Id Ingrediente" minlength="1" maxlength="6" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombreingrediente" name="txtnombreingrediente" placeholder="Nombre Ingrediente" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="date" id="txtcaducidad" name="txtcaducidad" placeholder="Caducidad Ingrediente" maxlength="100" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtcodigo" name="txtcodigo" placeholder="Codigo Ingrediente" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txttipo" name="txttipo" placeholder="Tipo Ingrediente" maxlength="15" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtdescripcion" name="txtdescripcion" placeholder="Descripcion Ingrediente" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtcantidad" name="txtcantidad" placeholder="Cantidad Ingrediente" maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="txtid_sucursal" name="txtid_sucursal" placeholder="Id Sucursal " maxlength="45" class="form-control" required>
          </div>
          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Ingredientes</button>
          </div>

        </form>
      </div>
    </div> <!-- Tarjeta -->
   </div> <!-- Columna izquierda -->

   <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
   <h1>Listado de Ingredientes</h1>
   <img class="w-50" src="{% static 'img/ingredienteImage.jpg' %}" alt="hoa" width="100" height="auto">
    <br>
    <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id_Ingrediente</th>
        <th scope="col">Nombre</th>
        <th scope="col">Caducidad</th>
        <th scope="col">Codigo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Id Sucursal</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      
      {% for m in misingredientes %}
      
      <tr>
        <td> {{forloop.counter}} </td>
        <td> {{m.id_ingrediente}} </td>
        <td> {{m.nombre_ingrediente}} </td>
        <td> {{m.caducidad}} </td>
        <td> {{m.codigo}} </td>
        <td> {{m.tipo}} </td>
        <td> {{m.descripcion}} </td>
        <td> {{m.cantidad}} </td>
        <td> {{m.id_sucursal}} </td>
        <td> <a href="seleccionarIngredientes/{{m.id_ingrediente}}" class="btn btn-info"> Editar</a> </td> <!-- Falta -->
        <td> <a href="borrarIngredientes/{{m.id_ingrediente}}" class="btn btn-danger"> Borrar</a> </td> <!-- Falta -->
      </tr>
      
      
      
      {% endfor %}
      
    </tbody>
  </table>

 </div> <!-- Columna derecha -->

 

{% endblock %}